<% include shared/header.ejs %>

<style>
  li:nth-child(2) a:link.nav-link {
    color: white;
  }
</style>
<main>
  <h1><%= title %></h1>
  <p>I am currently 24 years old and I am enrolledin the Interactive Media Design - Web program at Georgian College. When I was younger I was a Nationally ranked, competetive swimmer for thirteen years before I retired. My goal in life is to complete my book series that I am writing.</p>
</main>

<% include shared/footer.ejs %>