<% include shared/header.ejs %>

<style>
  li:nth-child(4) a:link.nav-link {
    color: white;
  }
</style>
<main>
  <h1><%= title %></h1>
  <p>Find me on <a href="https://www.linkedin.com/in/ryan-quigley-943808138/" title="My Linkedin">Linkedin</a></p>
  <p>Contact me through email: rquigley@hotmail.ca</p>
</main>

<% include shared/footer.ejs %>