<% include shared/header.ejs %>

<style>
  li:nth-child(1) a:link.nav-link {
    color: white;
  }
</style>
<main>
  <h1><%= title %></h1>
  <p>My name is Ryan Quigley. This is my portfolio website built with NodeJS and the Express Generator.</p>
</main>

<% include shared/footer.ejs %>
